In [2]:
spark = SparkSession \
    .builder \
    .appName("Python Spark SQL Compras") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [16]:
# spark is an existing SparkSession
df = spark.read.format("csv") \
                .option("header", "true") \
                .option("delimiter", ";") \
                .load("compras.txt")

In [17]:
# Displays the content of the DataFrame to stdout
df.show()

+----------+--------+--------------+-----------------+------+----------+
|      Data|    Hora|        Cidade|          Produto| Valor|FormaPagto|
+----------+--------+--------------+-----------------+------+----------+
|2015-01-01|09:00:00|     Sao Paulo|Roupas masculinas|214.05|      Amex|
|2015-01-01|09:00:00|Rio de Janeiro| Roupas femininas|153.57|      Visa|
|2015-01-01|09:00:00|      Curitiba|           Musica| 66.08|  Dinheiro|
|2015-01-01|09:00:00|Belo Horizonte|              Pet|493.51|      Visa|
|2015-01-01|09:00:00|       Aracaju|  Roupas infantis|235.63|MasterCard|
|2015-01-01|09:00:00|      Salvador|Roupas masculinas|247.18|MasterCard|
|2015-01-01|09:00:00|      Campinas|          Cameras| 379.6|      Visa|
|2015-01-01|09:00:00|     Sao Paulo|      Eletronicos| 296.8|  Dinheiro|
|2015-01-01|09:00:00|      Londrina|       Brinquedos| 25.38|      Visa|
|2015-01-01|09:00:00|Rio de Janeiro|       Brinquedos|213.88|      Visa|
|2015-01-01|09:00:00|     Sao Paulo|      Video Games| 53.26|      Visa|
|2015-01-01|09:00:00|     Sao Paulo|      Video Games| 39.75|  Dinheiro|
|2015-01-01|09:00:00|      Campinas|          Cameras|469.63|MasterCard|
|2015-01-01|09:00:00|      Ourinhos|             DVDs|290.82|MasterCard|
|2015-01-01|09:00:00|Rio de Janeiro|           Musica|260.65|      Visa|
|2015-01-01|09:00:00|      Brasilia|           Jardim| 136.9|      Visa|
|2015-01-01|09:00:00|  Porto Alegre| Roupas femininas|483.82|      Visa|
|2015-01-01|09:00:00|     Sao Paulo| Roupas femininas|215.82|  Dinheiro|
|2015-01-01|09:00:00|       Maringa|          Cameras|418.94|      Amex|
|2015-01-01|09:00:00| Florianopolis|  Roupas infantis|309.16|      Visa|
+----------+--------+--------------+-----------------+------+----------+
only showing top 20 rows

In [18]:
df.describe().show()

+-------+----------+--------+--------+-----------+------------------+----------+
|summary|      Data|    Hora|  Cidade|    Produto|             Valor|FormaPagto|
+-------+----------+--------+--------+-----------+------------------+----------+
|  count|   1000000| 1000000| 1000000|    1000000|           1000000|   1000000|
|   mean|      null|    null|    null|       null|250.15969356334065|      null|
| stddev|      null|    null|    null|       null| 144.2829122143926|      null|
|    min|2015-01-01|09:00:00|Alvorada| Artesanato|                 0|      Amex|
|    max|2015-03-30|17:59:00| Vitoria|Video Games|             99.99|      Visa|
+-------+----------+--------+--------+-----------+------------------+----------+

In [11]:
# spark, df are from the previous example
# Print the schema in a tree format
df.printSchema()

root
 |-- _c0: string (nullable = true)

In [20]:
df.show(10)

+----------+--------+--------------+-----------------+------+----------+
|      Data|    Hora|        Cidade|          Produto| Valor|FormaPagto|
+----------+--------+--------------+-----------------+------+----------+
|2015-01-01|09:00:00|     Sao Paulo|Roupas masculinas|214.05|      Amex|
|2015-01-01|09:00:00|Rio de Janeiro| Roupas femininas|153.57|      Visa|
|2015-01-01|09:00:00|      Curitiba|           Musica| 66.08|  Dinheiro|
|2015-01-01|09:00:00|Belo Horizonte|              Pet|493.51|      Visa|
|2015-01-01|09:00:00|       Aracaju|  Roupas infantis|235.63|MasterCard|
|2015-01-01|09:00:00|      Salvador|Roupas masculinas|247.18|MasterCard|
|2015-01-01|09:00:00|      Campinas|          Cameras| 379.6|      Visa|
|2015-01-01|09:00:00|     Sao Paulo|      Eletronicos| 296.8|  Dinheiro|
|2015-01-01|09:00:00|      Londrina|       Brinquedos| 25.38|      Visa|
|2015-01-01|09:00:00|Rio de Janeiro|       Brinquedos|213.88|      Visa|
+----------+--------+--------------+-----------------+------+----------+
only showing top 10 rows

In [23]:
# Creates a temporary view using the DataFrame
df.createOrReplaceTempView("Compras")

In [29]:
# SQL can be run over DataFrames that have been registered as a table.
compras = spark.sql("SELECT Cidade FROM Compras")

In [30]:
compras.show()

+--------------+
|        Cidade|
+--------------+
|     Sao Paulo|
|Rio de Janeiro|
|      Curitiba|
|Belo Horizonte|
|       Aracaju|
|      Salvador|
|      Campinas|
|     Sao Paulo|
|      Londrina|
|Rio de Janeiro|
|     Sao Paulo|
|     Sao Paulo|
|      Campinas|
|      Ourinhos|
|Rio de Janeiro|
|      Brasilia|
|  Porto Alegre|
|     Sao Paulo|
|       Maringa|
| Florianopolis|
+--------------+
only showing top 20 rows

In [38]:
 comprasAmex = spark.sql("SELECT * FROM Compras WHERE FormaPagto='Visa'")

In [39]:
comprasAmex.show(10)

+----------+--------+--------------+----------------+------+----------+
|      Data|    Hora|        Cidade|         Produto| Valor|FormaPagto|
+----------+--------+--------------+----------------+------+----------+
|2015-01-01|09:00:00|Rio de Janeiro|Roupas femininas|153.57|      Visa|
|2015-01-01|09:00:00|Belo Horizonte|             Pet|493.51|      Visa|
|2015-01-01|09:00:00|      Campinas|         Cameras| 379.6|      Visa|
|2015-01-01|09:00:00|      Londrina|      Brinquedos| 25.38|      Visa|
|2015-01-01|09:00:00|Rio de Janeiro|      Brinquedos|213.88|      Visa|
|2015-01-01|09:00:00|     Sao Paulo|     Video Games| 53.26|      Visa|
|2015-01-01|09:00:00|Rio de Janeiro|          Musica|260.65|      Visa|
|2015-01-01|09:00:00|      Brasilia|          Jardim| 136.9|      Visa|
|2015-01-01|09:00:00|  Porto Alegre|Roupas femininas|483.82|      Visa|
|2015-01-01|09:00:00| Florianopolis| Roupas infantis|309.16|      Visa|
+----------+--------+--------------+----------------+------+----------+
only showing top 10 rows

In [46]:
 comprasAgrupadasPorCidadeEProduto = spark.sql("SELECT Cidade, Produto, SUM(Valor) AS Total FROM Compras GROUP BY Cidade, Produto ORDER BY Cidade, Total DESC")

In [48]:
comprasPorCidadeEProduto.show(100)

+--------------+-----------------+------------------+
|        Cidade|          Produto|             Total|
+--------------+-----------------+------------------+
|      Alvorada|  Roupas infantis|         272187.44|
|      Alvorada|           Musica|         142340.19|
|      Alvorada|              Pet|142288.91999999998|
|      Alvorada|      Eletronicos|141403.83999999997|
|      Alvorada|              CDs|141069.50999999998|
|      Alvorada|       Brinquedos|140814.51000000004|
|      Alvorada|             DVDs|140263.55000000002|
|      Alvorada|       Artesanato|139969.58000000002|
|      Alvorada| Roupas femininas|138878.38999999998|
|      Alvorada|   Saude e beleza|         136908.63|
|      Alvorada|          Cameras|134084.87000000002|
|      Alvorada|Roupas masculinas|133671.43000000002|
|      Alvorada|     Computadores|133586.27000000002|
|      Alvorada|      Video Games|132411.46000000002|
|      Alvorada|           Livros|         130861.86|
|      Alvorada|         Esportes|128682.92999999998|
|      Alvorada|           Jardim|124030.08000000002|
|     Americana|  Roupas infantis| 272371.0099999999|
|     Americana|         Esportes|147756.25000000006|
|     Americana|             DVDs|142848.77999999997|
|     Americana|              CDs|141638.48000000004|
|     Americana|Roupas masculinas|141472.66000000003|
|     Americana|           Jardim|141010.23000000004|
|     Americana|           Livros|135339.04000000004|
|     Americana|      Eletronicos|135270.18000000002|
|     Americana|          Cameras|134953.28999999998|
|     Americana|              Pet|         134350.78|
|     Americana|      Video Games|130632.57999999999|
|     Americana|       Artesanato|128790.84999999998|
|     Americana| Roupas femininas|127405.54000000001|
|     Americana|     Computadores|126313.31000000003|
|     Americana|       Brinquedos|          125500.3|
|     Americana|           Musica|         123013.97|
|     Americana|   Saude e beleza|120793.81000000001|
|Angra dos Reis|  Roupas infantis|         286476.88|
|Angra dos Reis|   Saude e beleza|         151375.29|
|Angra dos Reis|Roupas masculinas|         145997.59|
|Angra dos Reis|           Livros|142254.49000000002|
|Angra dos Reis|           Musica|141942.27000000005|
|Angra dos Reis|          Cameras|         140522.93|
|Angra dos Reis|      Eletronicos|          139294.7|
|Angra dos Reis|      Video Games|138995.31000000003|
|Angra dos Reis|              Pet|         135915.73|
|Angra dos Reis| Roupas femininas|135085.30000000005|
|Angra dos Reis|         Esportes|         133966.97|
|Angra dos Reis|       Brinquedos|133870.75999999998|
|Angra dos Reis|             DVDs|         132273.94|
|Angra dos Reis|           Jardim|131630.86000000002|
|Angra dos Reis|              CDs|131102.99000000002|
|Angra dos Reis|       Artesanato|         127950.48|
|Angra dos Reis|     Computadores|121912.36999999997|
|       Aracaju|  Roupas infantis|279384.14999999997|
|       Aracaju|         Esportes|146456.08000000002|
|       Aracaju| Roupas femininas|144612.46000000002|
|       Aracaju|              Pet|143112.59000000003|
|       Aracaju|       Brinquedos|140036.51000000004|
|       Aracaju|      Eletronicos|139205.18000000002|
|       Aracaju|           Livros|137714.27000000002|
|       Aracaju|           Jardim|         137524.06|
|       Aracaju|          Cameras|137374.36000000002|
|       Aracaju|Roupas masculinas|         136665.56|
|       Aracaju|              CDs|135978.09000000003|
|       Aracaju|   Saude e beleza|         134461.57|
|       Aracaju|             DVDs|         133045.19|
|       Aracaju|           Musica|132990.81999999998|
|       Aracaju|      Video Games|130850.88999999997|
|       Aracaju|     Computadores|128579.65000000001|
|       Aracaju|       Artesanato|         128541.96|
|     Aracatuba|  Roupas infantis|256492.71000000005|
|     Aracatuba| Roupas femininas|143373.03999999998|
|     Aracatuba|      Eletronicos|141356.86000000004|
|     Aracatuba|       Artesanato|139746.47999999992|
|     Aracatuba|         Esportes|         138988.89|
|     Aracatuba|              CDs|138829.41000000003|
|     Aracatuba|     Computadores|         138116.12|
|     Aracatuba|          Cameras|137653.34000000003|
|     Aracatuba|      Video Games|         136721.86|
|     Aracatuba|           Jardim|         136598.39|
|     Aracatuba|              Pet|136514.22999999998|
|     Aracatuba|       Brinquedos|136162.00999999995|
|     Aracatuba|           Musica|135741.02000000002|
|     Aracatuba|Roupas masculinas|135351.25000000003|
|     Aracatuba|             DVDs|         133678.64|
|     Aracatuba|   Saude e beleza|         133403.99|
|     Aracatuba|           Livros|131285.06000000003|
|   Barra Mansa|  Roupas infantis| 276998.1899999999|
|   Barra Mansa|      Eletronicos|154686.06999999998|
|   Barra Mansa|           Musica|143865.00999999998|
|   Barra Mansa|     Computadores|         141921.88|
|   Barra Mansa|          Cameras|         141692.24|
|   Barra Mansa| Roupas femininas|         140866.56|
|   Barra Mansa|       Artesanato|140765.96999999997|
|   Barra Mansa|   Saude e beleza|140633.70000000004|
|   Barra Mansa|         Esportes|138305.67999999996|
|   Barra Mansa|             DVDs|         137940.76|
|   Barra Mansa|           Jardim|137287.73999999996|
|   Barra Mansa|              CDs|136703.44999999998|
|   Barra Mansa|              Pet|         135837.39|
|   Barra Mansa|       Brinquedos|133546.02999999997|
|   Barra Mansa|           Livros|         132069.27|
+--------------+-----------------+------------------+
only showing top 100 rows

In [59]:
# Creates a temporary view using the DataFrame
comprasAgrupadasPorCidadeEProduto.createOrReplaceTempView("ComprasAgrupadas")

In [88]:
produtosMaisVendidosPorCidade = spark.sql("SELECT Cidade, Produto, Total FROM ComprasAgrupadas T1 WHERE EXISTS (SELECT 1 AS Total FROM ComprasAgrupadas T2 WHERE T2.Cidade = T1.Cidade GROUP BY Cidade HAVING MAX(T2.Total) = T1.Total)")

In [90]:
produtosMaisVendidosPorCidade.show(100)

+-------------------+-----------------+------------------+
|             Cidade|          Produto|             Total|
+-------------------+-----------------+------------------+
|           Alvorada|  Roupas infantis|         272187.44|
|          Americana|  Roupas infantis| 272371.0099999999|
|     Angra dos Reis|  Roupas infantis|         286476.88|
|            Aracaju|  Roupas infantis|279384.14999999997|
|          Aracatuba|  Roupas infantis|256492.71000000005|
|        Barra Mansa|  Roupas infantis| 276998.1899999999|
|            Barueri|  Roupas infantis|         272080.05|
|              Bauru|  Roupas infantis|270793.58999999997|
|              Belem|  Roupas infantis|270546.40000000014|
|     Belo Horizonte|  Roupas infantis|268459.77999999997|
|          Boa Vista|  Roupas infantis|268096.23000000004|
|           Brasilia|  Roupas infantis|261432.73000000004|
|          Cabo Frio|  Roupas infantis| 537187.2599999999|
|           Campinas|  Roupas infantis| 563500.2699999998|
|       Campo Grande|  Roupas infantis| 262539.8600000001|
|           Cascavel|  Roupas infantis|272128.41000000003|
|             Caxias|  Roupas infantis| 267334.2799999999|
|            Chapeco|  Roupas infantis|270546.44000000006|
|            Colombo|  Roupas infantis| 807409.1299999997|
|              Cotia|  Roupas infantis|265914.76000000007|
|           Criciuma|  Roupas infantis|266227.70999999996|
|             Cuiaba|  Roupas infantis|         272521.78|
|           Curitiba|  Roupas infantis|258458.44000000006|
|            Diadema|  Roupas infantis|266947.24000000005|
|           Dourados|  Roupas infantis|         263925.75|
|      Florianopolis|  Roupas infantis|268772.37000000005|
|          Fortaleza|  Roupas infantis|269415.92999999993|
|      Foz do Iguacu|  Roupas infantis|259873.50999999992|
|             Franca|  Roupas infantis|269553.81999999983|
|            Goiania|  Roupas infantis|         256548.87|
|           Gravatai|  Roupas infantis|         268199.39|
|            Guaruja|  Roupas infantis|         257633.24|
|          Guarulhos|  Roupas infantis| 533482.1399999999|
|             Ilheus|  Roupas infantis|         253200.27|
|            Itabuna|  Roupas infantis|         265479.44|
|             Itajai|  Roupas infantis|264899.25000000006|
|            Itapevi|  Roupas infantis|         273276.78|
|                Itu|  Roupas infantis|295489.54999999993|
|                Jau|  Roupas infantis| 289584.8400000001|
|          Joinville|  Roupas infantis|262781.45000000007|
|           Juazeiro|  Roupas infantis|         255937.18|
|       Juiz de Fora|  Roupas infantis|268822.22000000003|
|            Jundiai|  Roupas infantis| 284684.2200000001|
|              Lages|  Roupas infantis| 277698.1000000001|
|           Linhares|  Roupas infantis|          271106.7|
|           Londrina|  Roupas infantis|1061310.2700000003|
|              Macae|  Roupas infantis|285332.58999999997|
|             Macapa|  Roupas infantis|         272681.89|
|             Maceio|  Roupas infantis|267407.94000000006|
|             Manaus|Roupas masculinas|            370.55|
|           Maranhao|  Roupas infantis| 263443.3900000002|
|            Maringa|  Roupas infantis| 540900.4600000002|
|               Maua|  Roupas infantis|         258563.69|
|            Mossoro|  Roupas infantis| 267259.7899999999|
|            Niteroi|  Roupas infantis|         269752.08|
|      Nova Friburgo|  Roupas infantis|272256.14999999985|
|             Olinda|  Roupas infantis|285761.92000000004|
|             Osasco|  Roupas infantis|         274777.94|
|           Ourinhos|  Roupas infantis|257189.77000000008|
|             Palmas|  Roupas infantis|277556.80000000005|
|        Passo Fundo|  Roupas infantis| 280597.4499999999|
|            Pelotas|  Roupas infantis|          273229.2|
|         Petropolis|  Roupas infantis|         254902.87|
|       Porto Alegre|  Roupas infantis|         266614.24|
|        Porto Velho|  Roupas infantis| 269569.2800000001|
|Presidente Prudente|  Roupas infantis|270205.70999999996|
|             Recife|  Roupas infantis|         266990.42|
|          Rio Claro|  Roupas infantis|         287905.97|
|     Rio de Janeiro|  Roupas infantis| 795713.0400000003|
|           Salvador|  Roupas infantis|276333.13999999996|
|        Santa Maria|  Roupas infantis|276613.34000000014|
|        Santo Andre|  Roupas infantis|         294035.94|
|             Santos|  Roupas infantis| 523049.3300000001|
|         Sao Carlos|  Roupas infantis|         255469.76|
|           Sao Jose|  Roupas infantis| 282459.0100000001|
|          Sao Paulo|  Roupas infantis|1621408.7799999989|
|        Sao Vicente|  Roupas infantis|265652.32000000007|
|              Serra|  Roupas infantis|         266220.16|
|        Sete Lagoas|  Roupas infantis|         250387.92|
|             Sobral|  Roupas infantis|          274606.9|
|           Sorocaba|  Roupas infantis|279832.44999999995|
|             Sumare|  Roupas infantis|259609.61000000004|
|            Taubate|  Roupas infantis|         538797.84|
|           Teresina|  Roupas infantis|278420.36999999994|
|            Uberaba|  Roupas infantis|273072.04000000004|
|            Vitoria|  Roupas infantis|         262998.45|
+-------------------+-----------------+------------------+

In [91]:
produtosMaisVendidosPorCidade.coalesce(1).write.option("header", "true").csv("produto_mais_vendido_por_cidade_df")